.App {
  text-align: center;
}

.App-header {
  background-color: transparent;
  height: 100vh;
  padding: 0px;
  color: #2E2E30;
  display: flex;
  width: 100%;
  align-items: center;
}

.App-header .left-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 45px 0 10vh 0;
  align-items: flex-start;
  width: 45%;
}

.App-header .right-header-wrapper {
  padding: 0 12%;
  text-align: left;
}

.App-header .right-header-wrapper h2 {
  color: #FD384B;
  font-family: 'Nova Mono', monospace;
  font-size: 40px;
  margin-top: -10px;
}

.App-header .right-header-wrapper p {
  line-height: 30px;
  font-weight: 300;
  font-size: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

