.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@media only screen and (max-width: 450px) {
  .row-wrapper {
    width: 100%;
    padding: 0 3%;
  }
  .description-wrapper {
    padding: 0 4%;
    width: 100%;
  }
}